@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-4">
    <h1 class="display-4">Welcome to SofiBois</h1>
    <p class="lead">Explore our offerings and learn more about us.</p>
</div>

@await Html.PartialAsync("_Carousel")
