<footer class="border-top footer text-muted mt-5 pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-3 mb-md-0">
                <p class="mb-1">&copy; 2024 <strong>SofiBois</strong></p>
                <a href="/Home/Privacy" class="text-muted">Privacy Policy</a>
            </div>
            <div class="col-md-6 text-md-end">
                <p class="mb-1">
                    <strong>Contact Us:</strong>
                </p>
                <p class="mb-1">
                    Phone: <a href="tel:+21698440844" class="text-muted">(+216) 98 44 0844</a><br />
                    Email: <a href="mailto:info@sofibois.com" class="text-muted">info@sofibois.com</a><br />
                    Address: Rue el Nakhla
                </p>
            </div>
        </div>
    </div>
</footer>
